@import "./src/scss/vars.scss";
@import "./src/scss/blocks/header.scss";
@import "./src/scss/blocks/sideBar.scss";
@import "./src/scss/template.scss";
@import "./src/scss/blocks/burger.scss";

@import url("https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/css/bootstrap.min.css");
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.8.1/css/all.min.css");

body {
  height: 100%;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  line-height: 1.22857143;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #f0f0f0;
}