.analysis-value{
  margin: 0 auto;
  width: 150px;
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  aspect-ratio: 1;
  border-radius: 50%;
  font-weight: bold;
  color: $cl-white;
  font-size: 4rem;
  line-height: 1;
  &--red{
    background-color: var(--bs-danger);
  }
  &--green{
    background-color: $succes;
  }
  &--yellow{
    background-color: $warning;
  }
}