.kpi-column{
  &:hover{
    .kpi-column__info{
      visibility: visible;
      opacity: 1;
    }
  }
  &__data{
    top: -5px;
    left: -5px;
    z-index: 1;
    border-radius: 5px;
    background-color: #FD6935;
  }
  &__info{
    position: absolute;
    left: 10px;
    top: 10px;
    z-index: 10;
    opacity: 0;
    visibility: hidden;
    transition: all .15s ease-in-out;
    box-shadow: var(--bs-box-shadow);
  }
}

.kpi-value{
  top: -10px;
  left: -10px;
  border-radius: $border-radius;
  border: 2px solid $cl-border;
  &--positive{
    color: $succes;
    border-color: $succes;
  }
  &--negative{
    color: var(--bs-danger);
    border-color: var(--bs-danger);
  }
  &--leader{
    top: -15px;
    left: 50%;
    transform: translate(-50%, 0);
  }
}