

#menu__toggle {
    opacity: 0;
  }
  #menu__toggle:checked + .menu__btn > span {
    transform: rotate(45deg);
  }
  #menu__toggle:checked + .menu__btn > span::before {
    top: 0;
    transform: rotate(0deg);
  }
  #menu__toggle:checked + .menu__btn > span::after {
    top: 0;
    transform: rotate(90deg);
  }
  #menu__toggle:checked ~ .menu__box {
    margin-top: 60px;
    left: 270px !important;
  }
  .menu__btn {
    //position: fixed;
    top: 30px;
    left: 300px;
    width: 26px;
    height: 26px;
    cursor: pointer;
    z-index: 1;
    display: inline-block; 
  }
  .menu__btn > span,
  .menu__btn > span::before,
  .menu__btn > span::after {
    display: block;
    position: absolute;
    width: 100%;
    height: 2px;
    background-color:white;//#616161;//white //#616161;
    transition-duration: .30s;
  }
  .menu__btn > span::before {
    content: '';
    top: -8px;
  }
  .menu__btn > span::after {
    content: '';
    top: 8px;
  }
  .menu__box {
    display: block;
    position: fixed;
    top: 0;
    left: -100%;
    width: 300px;
    height: 450px;
    margin: 0;
    padding: 80px 0;
    list-style: none;
    background-color:white;
    box-shadow: 2px 2px 6px rgba(0, 0, 0, .4);
    transition-duration: .30s;
    border-radius: 5px;
  }
  .menu__item {
    display: block;
    padding: 12px 24px;
    color: #333;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    font-weight: 600;
    text-decoration: none;
    transition-duration: .50s;
  }
  .menu__item:hover {
    background-color: #CFD8DC;
  }
  .hamburger-menu{
    margin-left: 20px;
    margin-top: 10px;
   }
  
  #line_bg{
    width: 30px;
    height: 2px;
  }