.page-content{
  padding: 2.4rem;
  height: 100%;
  overflow: auto;
  &__header{
    margin-bottom: 1.6rem;
    padding-bottom: 1.8rem;
  }
  &__content{
    &--fixed{
      height: calc(100% - 60px);
    }
  }
}