// стили из figma
$main-font: 'Inter', sans-serif;

$cl-main: #000;
$cl-additon: #27262B;
$cl-purple: #474BAB;
$cl-purple-light: #CACCF7;
$cl-grey-super-light: #FAFAFA;
$cl-grey-purple: #F1F2FF;
$cl-grey-light: #E9E9E9;
$cl-grey: #EAEAF0;
$cl-border: #EBEBEB;

$transition-time: 0.2s;


//здесь переменные
// $main-font: 'Open Sans', "Helvetica Neue", Helvetica, Arial, sans-serif;
$main-font: 'Roboto', sans-serif;
// $main-font:  'Montserrat', sans-serif;
// $main-font: 'PT Root UI', sans-serif;
// $main-font: 'Poppins', sans-serif;
//$secondary-font: "Sen", sans-serif;

$primary-color: #00008B;
$accent-color: #FF8C00;
$second-color:#333;
$frame_color: rgb(163, 210, 242);
$frame_color2: rgb(184, 184, 184);
$button_preview_color:azure;
$white: #fff;
$search-hover-color: rgba(236, 94, 68, 0.723);
$background-color-dark: linear-gradient(135deg, rgb(0, 0, 0), #1b1b26, #16213e);
$active-button:rgba(32, 139, 220, 0.495);
$hover-button: rgb(167, 204, 215);
$focus-button: rgb(167, 204, 215);
$hover-button2:rgba(9, 99, 39, 0.495);
$headerTable-color:rgba(35, 65, 187, 0.495);
$transition-time: 0.2s;

$colorLineSideBar: #a8acb1; //было #242a31 rgb(167, 204, 215)
$sideBarColor:#2d353c;
$fontColorSideBar:#e4e1e3;
$fontColorHeader:#2d353c;
$colorLogoText: #ffffff;
$backgroundColorMain:#ffffff;// #e7eaf2;
$backgroundColorNavFooter: #e7eaf2;
$headerLogoWrapper:#3b5999;//#2d353c;//#142080;//#2d353c;//#3138a0;
$headerNavTopColor:#3b5999;//white;//#3b5999;//#4757de;//#93a4f6;
$hoverColorSideBar:#ffffff;//#93a4f6;
$backgroundColorAZ: #31af36;//#FF8C00;
$backgroundColorcontainer-inner: #f9f9fa;//#f2f4f9;
$backgroundColorBlockStock:#f0f8ff;
$buttonColor:#3b5999;
